*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
 }
.container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #AAFFE5;
    border-radius: 18px;
    padding: 30px 40px;
}
h2 {
    
    color: rgb(42, 250, 42);
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    color:black;
    width: 100%;
    height: 45px;
    background: rgb(42, 250, 42);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0,0,.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 17px;
}
input[type="submit"]:hover {
    border-style: double;
color: black;
}
